@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Amazooom</h1>
    <p class="lead">Leading Retail and Delivery Company.</p>
    <p><a href="https://localhost:44334/home/viewstock" class="btn btn-primary btn-lg">Start Shopping &raquo;</a></p>
</div>
